
    <nav class="navbar navbar-expand   w-100 px-3 justify-content-between">
      <!-- Button to toggle sidebar -->
      <button class="btn btn-light" type="button" (click)="toggleSidebar()">
        <span class="navbar-toggler-icon "></span>
      </button>
      <!-- Logout Button -->
      <button class="btn btn-light" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
  
        <i class="bi bi-box-arrow-right"></i>
          <span class="d-none d-sm-inline">Logout</span>
  
      </button>
    </nav>
  
    