<aside id="sidebar" class="text-white vh-100">
    <div class="px-3 px-lg-4 pt-3 text-center flex-column">
      <div><img src="logo.png" class="img-fluid h-25 w-25" alt="Logo"></div>
      <a href="#" class="fs-4 fw-bold text-decoration-none" style="color: gold;">Bussines Seva</a>
    </div>
    <!-- Sidebar Navigation -->
    <ul class="sidebar-nav pt-0">
      <li class="sidebar-header">
        Menu
      </li>
      <li class="sidebar-item">
        <a href="dashboard" class="sidebar-link text-decoration-none">
          <i class="fa-solid fa-regular fa-user pe-2"></i>
          Dashboard
        </a>
      </li>
      <li class="sidebar-item">
        <a routerLink="business" class="sidebar-link text-decoration-none">
          <i class="fa-solid fa-regular fa-user pe-2"></i>
          Business
        </a>
      </li>

    </ul>
  </aside>