strong {
    color: black;
  }
  
  .card-header {
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: transparent;
    /* Ensure the background color matches the card */
  }
  
  
  .scrollspy-example {
    position: relative;
    height: 60vh;
    /* Set a specific height for the scrollable content */
    overflow-y: auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  /* You can add global styles to this file, and also import other style files */

  
  
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  
*,::after,::before {
    box-sizing: border-box;
}

body {
    background-image: url("assets/background-image.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 100vh;

}


a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

/* Layout skeleton */


#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    box-shadow: 0 0 35px 0 rgba(49, 57, 66, 0.5);
    z-index: 1111;
}

/* Sidebar collapse */

.collapsed {
    margin-left: -264px;
}

.main {
    transition: all 0.35s ease-in-out;
}


.sidebar-nav {
    padding: 0;
}

.sidebar-header {
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #dcefde;
    position: relative;
    display: block;
    font-size: 1rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

a, a:hover, a:focus {
color: gold;
text-decoration: none;
transition: all 0.3s;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

/* Responsive */

@media (min-width:768px) {
    .content {
        width: auto;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
